body{
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgb(37, 47, 80) 50%, rgb(255, 220, 64) 50%);
    height: 97vh;
}

h1{
    color: white;
}

footer{
    color: white;
    font-style: italic;
    font-weight: bold;
}

.box{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.616);
    
}

.box #inputTask{
    display: flex;
    width: 170px;
    background-color: lightgray;
    border-radius: 15px;
    text-align: left;
    border: black solid 1px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.651);
    padding: 7px;
    align-self: center;
}

button{
    width: 120px;
    align-self: center;
}

ul{
    display: flex;
    flex-direction: column;
    padding: 0px;
    list-style: none;
    margin: 0px;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-between;
}

li{
    display: flex;
    background-color: lightgray;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(22, 22, 22);
    justify-content: space-between;
    align-items: center;
}

li > button{
    color: red;
    width: 100px;
}

#btnAddTask{
    margin: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: darkgray;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.521);
}
